@{
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
    ViewData["Title"] = "Login";
}

<form class="auth-container" method="post" asp-action="Login">
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="Email" required />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="Password" required />
    </div>
    <button type="submit">Login</button>
    <p>Don't have an account? <a asp-controller="Auth" asp-action="Register">Register</a></p>
    <p>Back home? <a asp-controller="Home" asp-action="Index">Home</a></p>
</form>
