@{
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
    ViewBag.Title = "Đăng ký";
}

<form class="auth-container" asp-action="Register" method="post">
    <div>
        <label for="Username">Tên đăng nhập:</label>
        <input type="text" id="Username" name="Username" required />
    </div>
    <div>
        <label for="Email">Email:</label>
        <input type="email" id="Email" name="Email" required />
    </div>
    <div>
        <label for="Password">Mật khẩu:</label>
        <input type="password" id="Password" name="Password" required />
    </div>
    <div>
        <label for="ConfirmPassword">Nhập lại mật khẩu:</label>
        <input type="password" id="ConfirmPassword" name="ConfirmPassword" required />
    </div>
    <button type="submit">Register</button>
</form>

@if (ViewBag.Error != null)
{
    <div style="color: red;">
        @ViewBag.Error
    </div>
}