<div class='container py-5 mx-auto' style='max-width: 600px;'>
    <div class='header mb-4'>
        <h1 class='text-start m-0'>Hash Text</h1>
        <div class='separator my-2' style='width: 350px; height: 1.5px; opacity: 0.3; background: #a1a1a1'></div>
        <p class='text-start text-muted mb-0'>Generate hash values using various algorithms (MD5, SHA1, SHA256, SHA512, SHA3, SHA384).</p>
    </div>
    <div class='card shadow-lg p-4'>
        <div class='mb-3'>
            <label class='form-label fw-bold'>Input Text:</label>
            <textarea id='inputText' class='form-control' rows='2' placeholder='Enter text to hash...'></textarea>
        </div>
        <div class='mb-3'>
            <label class='form-label fw-bold'>Digest Encoding:</label>
            <select id='outputFormat' class='form-select'>
                <option value='Hex'>Hexadecimal (base 16)</option>
                <option value='Binary'>Binary (base 2)</option>
                <option value='Base64'>Base64 (base 64)</option>
            </select>
        </div>
        <button id='generateHash' class='btn btn-primary w-100 my-4'>Generate Hash</button>
        <div id="result" class="mb-3">
            <label class='form-label fw-bold'>Hash result:</label>
            <table class="table table-bordered w-100" style="table-layout: fixed;">
                <tbody> 
                   
                    <tr>
                        <td style="background-color: #f1f5f9; width: 25%">SHA3</td>
                        <td id="sha3" class="text-truncate width-auto" >ba7816bf8f01cfea414140de5dae2223b00361a396177a9cb410ff61f20015ad</td>
                        <td class="text-center" style="width: 30px;">
                            <button class="btn btn-sm copy-btn p-0" data-target="sha3">
                                <i class="bi bi-copy"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>