@{
    ViewData["Title"] = "Thêm Tool Mới";
    Layout = "_AdminLayout";
}

<form asp-controller="Plugin" asp-action="UploadTool" method="post" enctype="multipart/form-data" class="upload-form">

    <div class="form-group">
        <label for="file">Chọn File DLL:</label>
        <input type="file" name="file" class="form-control-file" required>
    </div>

    <button type="submit" class="btn btn-primary">Tải lên</button>
</form>
